<!DOCTYPE html>
<html class="no-js" lang="fa" dir="rtl">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Frutin - الگوی HTML غذای ارگانیک و سالم - جزئیات وبلاگ</title>
<meta name="author" content="Frutin">
<meta name="description" content="Frutin - Organic and Healthy Food HTML Template">
<meta name="keywords" content="Frutin - Organic and Healthy Food HTML Template">
<meta name="robots" content="INDEX,FOLLOW">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="assets/img/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
<link rel="manifest" href="assets/img/favicons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="assets/img/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=Lexend:wght@300;400;500;600;700;800;900&family=Lobster&display=swap" rel="stylesheet">
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/fontawesome.min.css">
<link rel="stylesheet" href="assets/css/magnific-popup.min.css">
<link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="preloader ">
<button class="th-btn preloaderCls">لغو Preloader</button><div class="preloader-inner"><div class="loader">
<span></span><span></span><span></span><span></span><span></span><span></span>
</div></div>
</div>
<div class="sidemenu-wrapper sidemenu-cart d-none d-lg-block "><div class="sidemenu-content">
<button class="closeButton sideMenuCls"><i class="far fa-times"></i></button><div class="widget woocommerce widget_shopping_cart">
<h3 class="widget_title">سبد خرید</h3>
<div class="widget_shopping_cart_content">
<ul class="woocommerce-mini-cart cart_list product_list_widget ">
<li class="woocommerce-mini-cart-item mini_cart_item">
<a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a><a href="#"><img src="assets/img/product/product_thumb_1_1.jpg" alt="Cart Image">میوه سیب بوسکو</a><span class="quantity">1×<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>940.00</span></span>
</li>
<li class="woocommerce-mini-cart-item mini_cart_item">
<a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a><a href="#"><img src="assets/img/product/product_thumb_1_2.jpg" alt="Cart Image">گل کلم سبز</a><span class="quantity">1×<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>899.00</span></span>
</li>
<li class="woocommerce-mini-cart-item mini_cart_item">
<a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a><a href="#"><img src="assets/img/product/product_thumb_1_3.jpg" alt="Cart Image">پرتقال ماندارین</a><span class="quantity">1×<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>756.00</span></span>
</li>
<li class="woocommerce-mini-cart-item mini_cart_item">
<a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a><a href="#"><img src="assets/img/product/product_thumb_1_4.jpg" alt="Cart Image">موسیر پیاز قرمز</a><span class="quantity">1×<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>723.00</span></span>
</li>
<li class="woocommerce-mini-cart-item mini_cart_item">
<a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a><a href="#"><img src="assets/img/product/product_thumb_1_5.jpg" alt="Cart Image">آلبالو قرمز</a><span class="quantity">1×<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>1080.00</span></span>
</li>
</ul>
<p class="woocommerce-mini-cart__total total"><strong>جمع فرعی:</strong><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>4398.00</span></p>
<p class="woocommerce-mini-cart__buttons buttons"><a href="cart.html" class="th-btn wc-forward">مشاهده سبد خرید</a><a href="checkout.html" class="th-btn checkout wc-forward">وارسی</a></p>
</div>
</div>
</div></div>
<div class="popup-search-box d-none d-lg-block">
<button class="searchClose"><i class="fal fa-times"></i></button><form action="#">
<input type="text" placeholder="دنبال چی میگردی؟"><button type="submit"><i class="fal fa-search"></i></button>
</form>
</div>
<div class="th-menu-wrapper"><div class="th-menu-area text-center">
<button class="th-menu-toggle"><i class="fal fa-times"></i></button><div class="mobile-logo"><a href="home-organic-farm.html"><img src="assets/img/logo.svg" alt="Frutin"></a></div>
<div class="th-mobile-menu"><ul>
<li class="menu-item-has-children">
<a href="home-organic-farm.html">صفحه اصلی</a><ul class="sub-menu">
<li><a href="home-organic-farm.html">مزرعه ارگانیک</a></li>
<li><a href="home-organic-food.html">غذای ارگانیک</a></li>
<li><a href="home-mega-shop.html">مگا شاپ</a></li>
</ul>
</li>
<li><a href="about.html">درباره ما</a></li>
<li class="menu-item-has-children">
<a href="#">سرویس</a><ul class="sub-menu">
<li><a href="service.html">سرویس</a></li>
<li><a href="service-details.html">جزئیات خدمات</a></li>
</ul>
</li>
<li class="menu-item-has-children">
<a href="#">صفحات</a><ul class="sub-menu">
<li class="menu-item-has-children">
<a href="#">خرید کنید</a><ul class="sub-menu">
<li><a href="shop.html">خرید کنید</a></li>
<li><a href="shop-details.html">جزئیات فروشگاه</a></li>
<li><a href="cart.html">صفحه سبد خرید</a></li>
<li><a href="checkout.html">وارسی</a></li>
<li><a href="wishlist.html">لیست علاقه مندیها</a></li>
</ul>
</li>
<li><a href="team.html">تیم</a></li>
<li><a href="team-details.html">جزئیات تیم</a></li>
<li><a href="project.html">گالری پروژه</a></li>
<li><a href="project-details.html">جزئیات پروژه</a></li>
<li><a href="faq.html">صفحه فک</a></li>
<li><a href="error.html">صفحه خطا</a></li>
</ul>
</li>
<li class="menu-item-has-children">
<a href="#">وبلاگ</a><ul class="sub-menu">
<li><a href="blog.html">وبلاگ</a></li>
<li><a href="blog-details.html">جزئیات وبلاگ</a></li>
</ul>
</li>
<li><a href="contact.html">مخاطب</a></li>
</ul></div>
</div></div>
<header class="th-header header-layout1"><div class="header-top"><div class="container"><div class="row justify-content-center justify-content-lg-between align-items-center gy-2">
<div class="col-auto d-none d-lg-block"><p class="header-notice">سفارش های 50 دلاری یا بیشتر واجد شرایط ارسال رایگان هستند!</p></div>
<div class="col-auto"><div class="header-links"><ul>
<li class="d-none d-sm-inline-block">
<i class="fal fa-location-dot"></i><a href="https://www.google.com/maps">8502 خیابان پرستون اینگلوود، مین 98380</a>
</li>
<li><div class="social-links">
<a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a><a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a><a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
</div></li>
</ul></div></div>
</div></div></div>
<div class="sticky-wrapper"><div class="menu-area"><div class="container"><div class="row align-items-center justify-content-between">
<div class="col-auto"><div class="header-logo"><a href="home-organic-farm.html"><img src="assets/img/logo.svg" alt="Frutin"></a></div></div>
<div class="col-auto">
<nav class="main-menu d-none d-lg-inline-block"><ul>
<li class="menu-item-has-children">
<a href="home-organic-farm.html">صفحه اصلی</a><ul class="sub-menu">
<li><a href="home-organic-farm.html">مزرعه ارگانیک</a></li>
<li><a href="home-organic-food.html">غذای ارگانیک</a></li>
<li><a href="home-mega-shop.html">مگا شاپ</a></li>
</ul>
</li>
<li><a href="about.html">درباره ما</a></li>
<li class="menu-item-has-children">
<a href="#">سرویس</a><ul class="sub-menu">
<li><a href="service.html">سرویس</a></li>
<li><a href="service-details.html">جزئیات خدمات</a></li>
</ul>
</li>
<li class="menu-item-has-children">
<a href="#">صفحات</a><ul class="sub-menu">
<li class="menu-item-has-children">
<a href="#">خرید کنید</a><ul class="sub-menu">
<li><a href="shop.html">خرید کنید</a></li>
<li><a href="shop-details.html">جزئیات فروشگاه</a></li>
<li><a href="cart.html">صفحه سبد خرید</a></li>
<li><a href="checkout.html">وارسی</a></li>
<li><a href="wishlist.html">لیست علاقه مندیها</a></li>
</ul>
</li>
<li><a href="team.html">تیم</a></li>
<li><a href="team-details.html">جزئیات تیم</a></li>
<li><a href="project.html">گالری پروژه</a></li>
<li><a href="project-details.html">جزئیات پروژه</a></li>
<li><a href="faq.html">صفحه فک</a></li>
<li><a href="error.html">صفحه خطا</a></li>
</ul>
</li>
<li class="menu-item-has-children">
<a href="#">وبلاگ</a><ul class="sub-menu">
<li><a href="blog.html">وبلاگ</a></li>
<li><a href="blog-details.html">جزئیات وبلاگ</a></li>
</ul>
</li>
<li><a href="contact.html">مخاطب</a></li>
</ul></nav><button type="button" class="th-menu-toggle d-block d-lg-none"><i class="far fa-bars"></i></button>
</div>
<div class="col-auto d-none d-xl-block"><div class="header-button">
<button type="button" class="simple-icon searchBoxToggler"><i class="far fa-search"></i></button><button type="button" class="simple-icon sideMenuToggler"><span class="badge">5</span><i class="fa-regular fa-cart-shopping"></i></button><a href="shop.html" class="th-btn style4">اکنون خرید کنید<i class="fas fa-chevrons-right ms-2"></i></a>
</div></div>
</div></div></div></div></header><div class="breadcumb-wrapper " data-bg-src="assets/img/bg/breadcumb-bg.jpg"><div class="container"><div class="breadcumb-content">
<h1 class="breadcumb-title">جزئیات وبلاگ</h1>
<ul class="breadcumb-menu">
<li><a href="home-organic-farm.html">صفحه اصلی</a></li>
<li>جزئیات وبلاگ</li>
</ul>
</div></div></div>
<section class="th-blog-wrapper blog-details space-top space-extra-bottom"><div class="container"><div class="row">
<div class="col-xxl-8 col-lg-7">
<div class="th-blog blog-single">
<div class="blog-img"><img src="assets/img/blog/blog-s-1-1.jpg" alt="Blog Image"></div>
<div class="blog-content">
<div class="blog-meta">
<a class="author" href="blog.html"><i class="far fa-user"></i>توسط میوه</a><a href="blog.html"><i class="far fa-calendar"></i>21 ژوئن 2023</a><a href="blog-details.html"><i class="far fa-comments"></i>نظرات (3)</a>
</div>
<h2 class="blog-title">عادات غذایی خود را با غذاهای ارگانیک تغییر دهید</h2>
<p>مواد غذایی ارگانیک بدون استفاده از آفت کش های مصنوعی، علف کش ها، ارگانیسم های اصلاح شده ژنتیکی (GMOs)، یا کودهای مصنوعی تولید می شوند. در عوض، کشاورزی ارگانیک به روش های طبیعی مانند تناوب زراعی، کمپوست سازی و کنترل بیولوژیکی آفات متکی است. به حیواناتی که برای گوشت، تخم مرغ و محصولات لبنی ارگانیک پرورش می‌یابند، غذای ارگانیک داده می‌شود و به فضای باز دسترسی دارند و شرایط زندگی انسانی‌تر و طبیعی‌تر را فراهم می‌کند.</p>
<p>اول از همه، غذاهای ارگانیک غنی از مواد مغذی هستند. میوه‌ها، سبزیجات و غلات ارگانیک اغلب از نظر مواد مغذی ضروری مانند ویتامین‌ها و مواد معدنی در مقایسه با محصولات معمولی غنی‌تر هستند. این غذاهای غنی از مواد مغذی می توانند به سلامت و تندرستی کلی شما کمک کنند. علاوه بر این، شیوه های کشاورزی ارگانیک در اولویت قرار دارند.</p>
<blockquote>
<p>غذای ارگانیک را انتخاب کنید، نه تنها برای سلامتی شما، بلکه برای سیاره ای شادتر. این یک انتخاب آگاهانه است که هم بدن و هم زمین را تغذیه می کند.</p>
<cite>میشل کلارک</cite>
</blockquote>
<p>روش های کشاورزی ارگانیک برای به حداقل رساندن فرسایش خاک، کاهش آلودگی و حفظ آب طراحی شده اند. با انتخاب مواد غذایی ارگانیک، از شیوه های کشاورزی پایدار حمایت می کنید که از کره زمین محافظت می کند. علاوه بر این، مواد غذایی ارگانیک طبق تعریف غیر GMO هستند، بنابراین می‌توانید مطمئن باشید که ارگانیسم‌های اصلاح‌شده ژنتیکی را مصرف نمی‌کنید، که برخی از افراد ترجیح می‌دهند به دلیل نگرانی‌های بالقوه بهداشتی و محیطی از مصرف آن اجتناب کنند.</p>
<p>بسیاری از مردم متوجه می‌شوند که محصولات ارگانیک طعم تازه‌تر و طبیعی‌تری نسبت به محصولات معمولی دارند. این می تواند وعده های غذایی شما را لذت بخش تر کند و شما را به خوردن میوه ها و سبزیجات بیشتر تشویق کند. علاوه بر این، انتخاب ارگانیک اغلب به معنای حمایت از کشاورزان محلی و کوچک مقیاس است که شیوه های کشاورزی پایدار و اخلاقی را در اولویت قرار می دهند. این به ایجاد یک سیستم غذایی انعطاف‌پذیرتر و متنوع‌تر کمک می‌کند.</p>
<h3 class="h5 mt-40">نکاتی برای ترکیب بیشتر مواد غذایی ارگانیک</h3>
<p>برای اینکه انتقال به یک رژیم غذایی ارگانیک راحت تر انجام شود، با اولویت دادن به برخی موارد خاص مانند "Dirty Dozen" از کوچک شروع کنید و به تدریج انتخاب های ارگانیک خود را گسترش دهید. خرید از بازارهای کشاورزان می تواند راهی عالی برای یافتن محصولات تازه و ارگانیک در حین ارتباط با کشاورزان محلی باشد. هنگام خرید غذاهای بسته بندی شده یا فرآوری شده، همیشه به دنبال گواهی ارگانیک باشید.</p>
<div class="row mt-15">
<div class="col-md-6 mb-4"><img class="w-100 rounded-20" src="assets/img/blog/blog_inner_1.jpg" alt="Blog Image"></div>
<div class="col-md-6 mb-4"><img class="w-100 rounded-20" src="assets/img/blog/blog_inner_2.jpg" alt="Blog Image"></div>
</div>
<p>کاشت یک باغ ارگانیک کوچک در خانه یا پیوستن به یک برنامه کشاورزی حمایت شده از جامعه (CSA) را در نظر بگیرید تا به طور منظم از محصولات تازه و بدون آفت کش لذت ببرید. در سطح جهانی کسب و کار الکترونیکی پیشرفته را بدون مهارت های رهبری هنری ایجاد کنید.</p>
<p class="mb-n2">تغییر عادات غذایی خود برای گنجاندن غذاهای ارگانیک گامی مثبت به سوی سلامتی بهتر هم برای شما و هم برای کره زمین است. اگرچه ممکن است نیاز به تعدیل و سرمایه گذاری داشته باشد، اما مزایای بلندمدت آن ارزشش را دارد. بنابراین، همین امروز اولین قدم را بردارید و غذاهای ارگانیک را به بخش مهمی از رژیم غذایی خود تبدیل کنید. بدن شما و زمین از شما تشکر خواهند کرد.</p>
<div class="share-links clearfix "><div class="row justify-content-between">
<div class="col-sm-auto">
<span class="share-links-title">برچسب ها:</span><div class="tagcloud">
<a href="blog.html">کشاورزی</a><a href="blog.html">ارگانیک. آلی</a>
</div>
</div>
<div class="col-sm-auto text-xl-end">
<span class="share-links-title">اشتراک گذاری در:</span><div class="th-social">
<a href="https://facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a><a href="https://linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a><a href="https://instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
</div>
</div>
</div></div>
</div>
</div>
<div class="th-comments-wrap ">
<h2 class="blog-inner-title h4">
<i class="far fa-comments"></i>نظرات (03)</h2>
<ul class="comment-list">
<li class="th-comment-item">
<div class="th-post-comment">
<div class="comment-avater"><img src="assets/img/blog/comment-author-1.jpg" alt="Comment Author"></div>
<div class="comment-content">
<span class="commented-on"><i class="far fa-calendar"></i>14 مارس 2023</span><h3 class="name">آدام جان</h3>
<p class="text">به طور مشترک تجارت الکترونیک چند منظوره را برای کاربردهای آینده تقویت کنید. یکپارچه بازارهای پلاگین و بازی را تولید کنید.</p>
<div class="reply_and_edit"><a href="blog-details.html" class="reply-btn"><i class="fas fa-reply"></i>پاسخ</a></div>
</div>
</div>
<ul class="children"><li class="th-comment-item"><div class="th-post-comment">
<div class="comment-avater"><img src="assets/img/blog/comment-author-2.jpg" alt="Comment Author"></div>
<div class="comment-content">
<span class="commented-on"><i class="far fa-calendar"></i>15 مارس 2023</span><h3 class="name">جاسکتین داکن</h3>
<p class="text">با صلاحیت دسترسی به روش های کاملاً تحقیق شده توانمندسازی را بدون مدل های چسبنده فراهم کنید.</p>
<div class="reply_and_edit"><a href="blog-details.html" class="reply-btn"><i class="fas fa-reply"></i>پاسخ</a></div>
</div>
</div></li></ul>
</li>
<li class="th-comment-item"><div class="th-post-comment">
<div class="comment-avater"><img src="assets/img/blog/comment-author-3.jpg" alt="Comment Author"></div>
<div class="comment-content">
<span class="commented-on"><i class="far fa-calendar"></i>16 مارس 2023</span><h3 class="name">جکلین جولای</h3>
<p class="text">به طور مشترک تجارت الکترونیک چند منظوره را برای کاربردهای آینده تقویت کنید. یکپارچه بازارهای پلاگین و بازی را تولید کنید.</p>
<div class="reply_and_edit"><a href="blog-details.html" class="reply-btn"><i class="fas fa-reply"></i>پاسخ</a></div>
</div>
</div></li>
</ul>
</div>
<div class="th-comment-form ">
<div class="form-title">
<h3 class="blog-inner-title h4 mb-2">
<i class="fa-solid fa-reply"></i>پیام بگذارید</h3>
<p class="form-text">آدرس ایمیل شما منتشر نخواهد شد. فیلدهای الزامی علامت گذاری شده اند *</p>
</div>
<div class="row">
<div class="col-md-6 form-group">
<input type="text" placeholder="اسم شما*" class="form-control"><i class="far fa-user"></i>
</div>
<div class="col-md-6 form-group">
<input type="text" placeholder="ایمیل شما*" class="form-control"><i class="far fa-envelope"></i>
</div>
<div class="col-12 form-group">
<input type="text" placeholder="سایت اینترنتی" class="form-control"><i class="far fa-globe"></i>
</div>
<div class="col-12 form-group">
<textarea placeholder="نظر بنویسید*" class="form-control"></textarea><i class="far fa-pencil"></i>
</div>
<div class="col-12 form-group mb-0"><button class="th-btn">ارسال نظر</button></div>
</div>
</div>
</div>
<div class="col-xxl-4 col-lg-5"><aside class="sidebar-area"><div class="widget widget_search "><form class="search-form">
<input type="text" placeholder="کلمه کلیدی را وارد کنید"><button type="submit"><i class="far fa-search"></i></button>
</form></div>
<div class="widget widget_categories ">
<h3 class="widget_title">دسته بندی ها</h3>
<ul>
<li>
<a href="blog.html">کشاورزی</a><span>(8)</span>
</li>
<li>
<a href="blog.html">نان و نانوایی</a><span>(10)</span>
</li>
<li>
<a href="blog.html">شیر لبنی</a><span>(12)</span>
</li>
<li>
<a href="blog.html">غذاهای ارگانیک</a><span>(6)</span>
</li>
<li>
<a href="blog.html">سبزیجات تازه</a><span>(8)</span>
</li>
<li>
<a href="blog.html">میوه های تازه</a><span>(11)</span>
</li>
</ul>
</div>
<div class="widget ">
<h3 class="widget_title">پستهای اخیر</h3>
<div class="recent-post-wrap">
<div class="recent-post">
<div class="media-img"><a href="blog-details.html"><img src="assets/img/blog/recent-post-1-1.jpg" alt="Blog Image"></a></div>
<div class="media-body">
<h4 class="post-title"><a class="text-inherit" href="blog-details.html">عادات غذایی خود را با غذاهای ارگانیک تغییر دهید</a></h4>
<div class="recent-post-meta"><a href="blog.html"><i class="far fa-calendar"></i>21 ژوئن 2023</a></div>
</div>
</div>
<div class="recent-post">
<div class="media-img"><a href="blog-details.html"><img src="assets/img/blog/recent-post-1-2.jpg" alt="Blog Image"></a></div>
<div class="media-body">
<h4 class="post-title"><a class="text-inherit" href="blog-details.html">تغذیه خود را با وعده های غذایی ارگانیک متحول کنید</a></h4>
<div class="recent-post-meta"><a href="blog.html"><i class="far fa-calendar"></i>22 ژوئن 2023</a></div>
</div>
</div>
<div class="recent-post">
<div class="media-img"><a href="blog-details.html"><img src="assets/img/blog/recent-post-1-3.jpg" alt="Blog Image"></a></div>
<div class="media-body">
<h4 class="post-title"><a class="text-inherit" href="blog-details.html">با تغذیه ارگانیک سلامت خود را بهبود بخشید</a></h4>
<div class="recent-post-meta"><a href="blog.html"><i class="far fa-calendar"></i>23 ژوئن 2023</a></div>
</div>
</div>
</div>
</div>
<div class="widget widget_tag_cloud ">
<h3 class="widget_title">برچسب های محبوب</h3>
<div class="tagcloud">
<a href="blog.html">کشاورزی</a><a href="blog.html">لبنیات</a><a href="blog.html">ارگانیک. آلی</a><a href="blog.html">مزرعه</a><a href="blog.html">سبزی</a><a href="blog.html">میوه ها</a>
</div>
</div></aside></div>
</div></div></section><div class=""><div class="container z-index-common"><div class="newsletter-wrap">
<div class="newsletter-content"><h4 class="newsletter-title">برای دریافت به روز رسانی و اخبار درباره ما ثبت نام کنید.</h4></div>
<form class="newsletter-form">
<div class="form-group"><input class="form-control" type="email" placeholder="آدرس ایمیل" required=""></div>
<button type="submit" class="th-btn style6">اشتراک در</button>
</form>
</div></div></div>
<footer class="footer-wrapper footer-layout1" data-bg-src="assets/img/bg/footer_bg_1.jpg"><div class="widget-area"><div class="container"><div class="row justify-content-between">
<div class="col-md-6 col-xl-auto"><div class="widget footer-widget"><div class="th-widget-about">
<div class="about-logo"><a href="home-organic-farm.html"><img src="assets/img/logo-footer.svg" alt="Frutin"></a></div>
<p class="about-text">ما خدمات تخصصی زمستانه سازی را برای محافظت از استخر شما در فصل خارج از فصل ارائه می دهیم و هنگامی که بهار فرا می رسد، فرآیند بازگشایی کامل را انجام می دهیم.</p>
<div class="th-social">
<a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a><a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a><a href="https://www.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
</div>
</div></div></div>
<div class="col-md-6 col-xl-auto"><div class="widget widget_nav_menu footer-widget">
<h3 class="widget_title">
<img src="assets/img/theme-img/title_icon.svg" alt="Icon">لینک های سریع</h3>
<div class="menu-all-pages-container"><ul class="menu">
<li><a href="about.html">درباره ما</a></li>
<li><a href="project.html">نمونه کارها</a></li>
<li><a href="faq.html">راهنما و سوالات متداول</a></li>
<li><a href="blog.html">وبلاگ</a></li>
<li><a href="contact.html">با ما تماس بگیرید</a></li>
</ul></div>
</div></div>
<div class="col-md-6 col-xl-auto"><div class="widget footer-widget">
<h3 class="widget_title">
<img src="assets/img/theme-img/title_icon.svg" alt="Icon">با ما تماس بگیرید</h3>
<div class="th-widget-contact">
<div class="info-box">
<div class="info-box_icon"><i class="fas fa-location-dot"></i></div>
<p class="info-box_text">8502 خیابان پرستون اینگلوود، مین 98380</p>
</div>
<div class="info-box">
<div class="info-box_icon"><i class="fas fa-phone"></i></div>
<p class="info-box_text"><a href="tel:+16326543564" class="info-box_link">+(163)-2654-3564</a><a href="tel:+16326545432" class="info-box_link">+(163)-2654-5432</a></p>
</div>
<div class="info-box">
<div class="info-box_icon"><i class="fas fa-envelope"></i></div>
<p class="info-box_text"><a href="mailto:help24/7@frutin.com" class="info-box_link">help24/7@frutin.com</a></p>
</div>
</div>
</div></div>
<div class="col-md-6 col-xl-auto"><div class="widget footer-widget">
<h3 class="widget_title">
<img src="assets/img/theme-img/title_icon.svg" alt="Icon">اینستاگرام</h3>
<div class="sidebar-gallery">
<div class="gallery-thumb">
<img src="assets/img/widget/gallery_1_1.jpg" alt="Gallery Image"><a href="assets/img/widget/gallery_1_1.jpg" class="gallery-btn popup-image"><i class="fab fa-instagram"></i></a>
</div>
<div class="gallery-thumb">
<img src="assets/img/widget/gallery_1_2.jpg" alt="Gallery Image"><a href="assets/img/widget/gallery_1_2.jpg" class="gallery-btn popup-image"><i class="fab fa-instagram"></i></a>
</div>
<div class="gallery-thumb">
<img src="assets/img/widget/gallery_1_3.jpg" alt="Gallery Image"><a href="assets/img/widget/gallery_1_3.jpg" class="gallery-btn popup-image"><i class="fab fa-instagram"></i></a>
</div>
<div class="gallery-thumb">
<img src="assets/img/widget/gallery_1_4.jpg" alt="Gallery Image"><a href="assets/img/widget/gallery_1_4.jpg" class="gallery-btn popup-image"><i class="fab fa-instagram"></i></a>
</div>
</div>
</div></div>
</div></div></div>
<div class="copyright-wrap"><div class="container"><div class="row gy-2 align-items-center">
<div class="col-md-6"><p class="copyright-text">کپی رایت<i class="fal fa-copyright"></i>2023<a href="home-organic-farm.html">میوه</a>. تمامی حقوق محفوظ است.</p></div>
<div class="col-md-6 text-center text-md-end"><div class="payment-img"><img src="assets/img/normal/payment_methods.png" alt="Image"></div></div>
</div></div></div></footer><div class="scroll-top"><svg class="progress-circle svg-content" width="100%" height="100%" viewbox="-1 -1 102 102"><path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path></svg></div>
<script src="assets/js/vendor/jquery-3.6.0.min.js"></script><script src="assets/js/swiper-bundle.min.js"></script><script src="assets/js/bootstrap.min.js"></script><script src="assets/js/jquery.magnific-popup.min.js"></script><script src="assets/js/jquery.counterup.min.js"></script><script src="assets/js/jquery-ui.min.js"></script><script src="assets/js/imagesloaded.pkgd.min.js"></script><script src="assets/js/isotope.pkgd.min.js"></script><script src="assets/js/main.js"></script>
</body>
</html>
