<!DOCTYPE html>
<html class="no-js" lang="fa" dir="rtl">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Frutin - الگوی HTML غذای ارگانیک و سالم - Home One</title>
<meta name="author" content="Frutin">
<meta name="description" content="Frutin - Organic and Healthy Food HTML Template">
<meta name="keywords" content="Frutin - Organic and Healthy Food HTML Template">
<meta name="robots" content="INDEX,FOLLOW">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="assets/img/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
<link rel="manifest" href="assets/img/favicons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="assets/img/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=Lexend:wght@300;400;500;600;700;800;900&family=Lobster&display=swap" rel="stylesheet">
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/fontawesome.min.css">
<link rel="stylesheet" href="assets/css/magnific-popup.min.css">
<link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="preloader ">
<button class="th-btn preloaderCls">لغو Preloader</button><div class="preloader-inner"><div class="loader">
<span></span><span></span><span></span><span></span><span></span><span></span>
</div></div>
</div>
<div class="space ">
<div class="h1 text-center mt-4">رنگ ها</div>
<div class="container mb-5"><div class="row">
<div class="col-xl-2"><div class="p-4 text-white text-center" style="background-color: var(--theme-color);">رنگ تم</div></div>
<div class="col-xl-2"><div class="p-4 text-white text-center" style="background-color: var(--theme-color);">رنگ تم 2</div></div>
<div class="col-xl-2"><div class="p-4 text-white text-center" style="background-color: var(--title-color);">رنگ عنوان</div></div>
<div class="col-xl-2"><div class="p-4 text-white text-center" style="background-color: var(--body-color);">رنگ بدنه</div></div>
<div class="col-xl-2"><div class="p-4 text-white text-center" style="background-color: var(--gray-color);">رنگ خاکستری</div></div>
<div class="col-xl-2"><div class="p-4 text-white text-center" style="background-color: var(--smoke-color);">رنگ دودی</div></div>
</div></div>
<div class="h1 text-center mt-4">ظرف</div>
<div class="container mb-5"><div class="bg-dark py-2">
<div class="h1 text-center text-white">ردیف</div>
<div class="row">
<div class="col-4 "><div class="py-5 bg-secondary text-white text-center">ستون</div></div>
<div class="col-4 "><div class="py-5 bg-secondary text-white text-center">ستون</div></div>
<div class="col-4 "><div class="py-5 bg-secondary text-white text-center">ستون</div></div>
</div>
</div></div>
<div class="container">
<h1>متنی آزمایشی و بیمعنی در</h1>
<h2>متنی آزمایشی و بیمعنی در</h2>
<h3>متنی آزمایشی و بیمعنی در</h3>
<h4>متنی آزمایشی و بیمعنی در</h4>
<h5>متنی آزمایشی و بیمعنی در</h5>
<h6>متنی آزمایشی و بیمعنی در</h6>
<p>متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب برای صفحه و ارائه شکل ظاهری و کلی طرح سفارشی شده استفاده می شود، تا از نظر گرافیکی نشانگر نوع و اندازه فونت و ظاهر متن باشد. طراحان معمولی برای صفحه آرایی، نخست از متن‌های آزمایشی و بی‌معنی استفاده می‌کنند تا صرفاً به مشتری یا صاحب کار خود نشان دهند که صفحه طراحی یا صفحه‌بندی پس از آن که در آن متن قرار می‌گیرد چگونه به نظر می‌رسد و چگونه می‌توان آن را دسته‌بندی کرد. گرفته شده است. از آنجایی که طراحان عموما نویسنده متن مخالف و وظیفه رعایت حق تکثیر متون هستند و در همان حال کار آنها به نوعی وابسته به متن می‌بایست آنها را با استفاده از محتویات ساختگی، صفحه گرافیکی خود را صفحه آرایی می‌کنند تا مرحله طراحی و صفحه را انجام دهند.</p>
<p>متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب برای صفحه و ارائه شکل ظاهری و کلی طرح سفارشی شده استفاده می شود، تا از نظر گرافیکی نشانگر نوع و اندازه فونت و ظاهر متن باشد. طراحان معمولی برای صفحه آرایی، نخست از متن‌های آزمایشی و بی‌معنی استفاده می‌کنند تا صرفاً به مشتری یا صاحب کار خود نشان دهند که صفحه طراحی یا صفحه‌بندی پس از آن که در آن متن قرار می‌گیرد چگونه به نظر می‌رسد و چگونه می‌توان آن را دسته‌بندی کرد. گرفته شده است. از آنجایی که طراحان عموما نویسنده متن مخالف و وظیفه رعایت حق تکثیر متون هستند و در همان حال کار آنها به نوعی وابسته به متن می‌بایست آنها را با استفاده از محتویات ساختگی، صفحه گرافیکی خود را صفحه آرایی می‌کنند تا مرحله طراحی و صفحه را انجام دهند.</p>
<h2>متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب برای صفحه و ارائه شکل ظاهری و کلی طرح سفارشی شده استفاده می شود، تا از نظر گرافیکی نشانگر نوع و اندازه فونت و ظاهر متن باشد. عموم طراحان گرافیک برای صفحه آرایی، نخست از متن‌های آزمایشی و بی‌معنی است</h2>
<h4>سبک میز</h4>
<table>
<thead><tr>
<th><a href="#">این یک لینک است</a></th>
<th>عنوان جدول</th>
<th>عنوان جدول</th>
<th>عنوان جدول</th>
</tr></thead>
<tbody>
<tr>
<th>عنوان جدول</th>
<td><a href="#">این یک لینک است</a></td>
<td>داده های جدول</td>
<td>داده های جدول</td>
</tr>
<tr>
<th>عنوان جدول</th>
<td>داده های جدول</td>
<td>داده های جدول</td>
<td>داده های جدول</td>
</tr>
<tr>
<th>عنوان جدول</th>
<td>داده های جدول</td>
<td>داده های جدول</td>
<td>داده های جدول</td>
</tr>
</tbody>
<tfoot><tr>
<td>داده های فوتر جدول</td>
<td>داده های فوتر جدول</td>
<td>داده های فوتر جدول</td>
<td>داده های فوتر جدول</td>
</tr></tfoot>
</table>
<h4>سبک نقل قول</h4>
<blockquote><p>گرسنه ماندن. احمق بمان</p></blockquote>
<h4>پیوندهای تو در تو</h4>
<h3><a href="#">این یک لینک در عنوان است</a></h3>
<h1><a href="#" class="text-inherit">پیوند را در عنوان به ارث ببرید</a></h1>
<h2><a href="#" class="text-reset">بازنشانی لینک در عنوان</a></h2>
<p><a href="#">پیوند در پاراگراف</a></p>
<h4>سبک ها را فهرست کنید</h4>
<ul>
<li>فهرست مورد یک<ul>
<li>فهرست مورد یک<ul>
<li>فهرست مورد یک</li>
<li>مورد دو را فهرست کنید</li>
<li>مورد سه را فهرست کنید</li>
<li>مورد چهار را فهرست کنید</li>
</ul>
</li>
<li>مورد دو را فهرست کنید</li>
<li>مورد سه را فهرست کنید<ol>
<li>مورد دو را فهرست کنید</li>
<li>مورد سه را فهرست کنید</li>
<li>مورد چهار را فهرست کنید</li>
</ol>
</li>
<li>مورد چهار را فهرست کنید</li>
</ul>
</li>
<li>مورد دو را فهرست کنید</li>
<li>مورد سه را فهرست کنید</li>
<li>مورد چهار را فهرست کنید</li>
</ul>
<ol>
<li>فهرست مورد یک<ol reversed="reversed">
<li>مورد فهرست یک ویژگی معکوس</li>
<li>مورد دو را فهرست کنید</li>
<li>مورد سه را فهرست کنید</li>
<li>مورد چهار را فهرست کنید</li>
</ol>
</li>
<li>مورد دو را فهرست کنید</li>
<li>مورد سه را فهرست کنید</li>
<li>مورد چهار را فهرست کنید</li>
</ol>
<ol>
<li>فهرست مورد یک<ul>
<li>فهرست مورد یک</li>
<li>مورد دو را فهرست کنید</li>
<li>مورد سه را فهرست کنید</li>
<li>مورد چهار را فهرست کنید</li>
</ul>
</li>
<li>مورد دو را فهرست کنید</li>
</ol>
<h4>سبک های ورودی</h4>
<div class="row">
<div class="form-group col-lg-6 has-label">
<label for="text">نام شرکت (اختیاری)*</label><input type="text" id="text" placeholder="اسمت را وارد کن">
</div>
<div class="form-group col-lg-6 has-label">
<label for="text2">نام شرکت (اختیاری)*</label><input type="text" id="text2" placeholder="اسمت را وارد کن"><i class="fal fa-user"></i>
</div>
<div class="form-group col-lg-6">
<input type="text" placeholder="اسمت را وارد کن"><i class="fal fa-user"></i>
</div>
<div class="form-group col-lg-6">
<input type="text" placeholder="اسمت را وارد کن"><i class="fal fa-user"></i>
</div>
<div class="form-group col-12"><select name="name" id="name"><option value="" selected disabled hidden>موضوع را انتخاب کنید</option>
<option value="">انتخاب 1</option>
<option value="">گزینه 2</option>
<option value="">گزینه 3</option>
<option value="">گزینه 4</option></select></div>
<div class="form-group col-12">
<textarea name="textARea" id="textARea" cols="30" rows="10" placeholder="برایت پیام بنویس"></textarea><i class="far fa-pencil"></i>
</div>
<div class="form-group col-12">
<input type="checkbox" id="checkbox" name="checkbox"><label for="checkbox">متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه آرایی و طراحی گرافیک گفته می‌شو</label>
</div>
<div class="form-group col-12">
<div>
<input type="radio" id="html" name="fav_language" value="HTML"><label for="html">HTML</label>
</div>
<div>
<input type="radio" id="css" name="fav_language" value="CSS"><label for="css">CSS</label>
</div>
<div>
<input type="radio" id="javascript" name="fav_language" value="JavaScript"><label for="javascript">جاوا اسکریپت</label>
</div>
</div>
</div>
<h4>سبک دکمه ها</h4>
<div class="p-5 mb-4 bg-light"><div class="row align-items-center gy-3 gx-3">
<div class="col-auto"><a href="#" class="th-btn">وقت ملاقات</a></div>
<div class="col-auto"><a href="#" class="th-btn">وقت ملاقات<i class="fal fa-arrow-right"></i></a></div>
<div class="col-auto"><a href="#" class="th-btn style2"><span class="btn-icon"><i class="far fa-plus"></i></span><span class="btn-text">اکنون ثبت نام کنید</span></a></div>
</div></div>
<h4>سبک دکمه آیکون</h4>
<div class="p-5 mb-4 bg-light"><div class="row align-items-center gy-3 gx-3">
<div class="col-auto"><a href="#" class="icon-btn"><i class="fal fa-arrow-right"></i></a></div>
<div class="col-auto"><a href="#" class="icon-btn style2"><i class="fal fa-arrow-right"></i></a></div>
<div class="col-auto"><a href="#" class="icon-btn style3"><i class="fal fa-arrow-right"></i></a></div>
<div class="col-auto"><a href="#" class="icon-btn style1 btn-md"><i class="far fa-chevron-right"></i></a></div>
<div class="col-auto"><a href="#" class="icon-btn style2 btn-md"><i class="far fa-chevron-right"></i></a></div>
<div class="col-auto"><a href="#" class="icon-btn style3 btn-md"><i class="far fa-chevron-right"></i></a></div>
</div></div>
</div>
</div>
<div class=""><div class="container z-index-common"><div class="newsletter-wrap">
<div class="newsletter-content"><h4 class="newsletter-title">برای دریافت به روز رسانی و اخبار درباره ما ثبت نام کنید.</h4></div>
<form class="newsletter-form">
<div class="form-group"><input class="form-control" type="email" placeholder="آدرس ایمیل" required=""></div>
<button type="submit" class="th-btn style6">اشتراک در</button>
</form>
</div></div></div>
<footer class="footer-wrapper footer-layout1" data-bg-src="assets/img/bg/footer_bg_1.jpg"><div class="widget-area"><div class="container"><div class="row justify-content-between">
<div class="col-md-6 col-xl-auto"><div class="widget footer-widget"><div class="th-widget-about">
<div class="about-logo"><a href="home-organic-farm.html"><img src="assets/img/logo-footer.svg" alt="Frutin"></a></div>
<p class="about-text">ما خدمات تخصصی زمستانه سازی را برای محافظت از استخر شما در فصل خارج از فصل ارائه می دهیم و هنگامی که بهار فرا می رسد، فرآیند بازگشایی کامل را انجام می دهیم.</p>
<div class="th-social">
<a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a><a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a><a href="https://www.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
</div>
</div></div></div>
<div class="col-md-6 col-xl-auto"><div class="widget widget_nav_menu footer-widget">
<h3 class="widget_title">
<img src="assets/img/theme-img/title_icon.svg" alt="Icon">لینک های سریع</h3>
<div class="menu-all-pages-container"><ul class="menu">
<li><a href="about.html">درباره ما</a></li>
<li><a href="project.html">نمونه کارها</a></li>
<li><a href="faq.html">راهنما و سوالات متداول</a></li>
<li><a href="blog.html">وبلاگ</a></li>
<li><a href="contact.html">با ما تماس بگیرید</a></li>
</ul></div>
</div></div>
<div class="col-md-6 col-xl-auto"><div class="widget footer-widget">
<h3 class="widget_title">
<img src="assets/img/theme-img/title_icon.svg" alt="Icon">با ما تماس بگیرید</h3>
<div class="th-widget-contact">
<div class="info-box">
<div class="info-box_icon"><i class="fas fa-location-dot"></i></div>
<p class="info-box_text">8502 خیابان پرستون اینگلوود، مین 98380</p>
</div>
<div class="info-box">
<div class="info-box_icon"><i class="fas fa-phone"></i></div>
<p class="info-box_text"><a href="tel:+16326543564" class="info-box_link">+(163)-2654-3564</a><a href="tel:+16326545432" class="info-box_link">+(163)-2654-5432</a></p>
</div>
<div class="info-box">
<div class="info-box_icon"><i class="fas fa-envelope"></i></div>
<p class="info-box_text"><a href="mailto:help24/7@frutin.com" class="info-box_link">help24/7@frutin.com</a></p>
</div>
</div>
</div></div>
<div class="col-md-6 col-xl-auto"><div class="widget footer-widget">
<h3 class="widget_title">
<img src="assets/img/theme-img/title_icon.svg" alt="Icon">اینستاگرام</h3>
<div class="sidebar-gallery">
<div class="gallery-thumb">
<img src="assets/img/widget/gallery_1_1.jpg" alt="Gallery Image"><a href="assets/img/widget/gallery_1_1.jpg" class="gallery-btn popup-image"><i class="fab fa-instagram"></i></a>
</div>
<div class="gallery-thumb">
<img src="assets/img/widget/gallery_1_2.jpg" alt="Gallery Image"><a href="assets/img/widget/gallery_1_2.jpg" class="gallery-btn popup-image"><i class="fab fa-instagram"></i></a>
</div>
<div class="gallery-thumb">
<img src="assets/img/widget/gallery_1_3.jpg" alt="Gallery Image"><a href="assets/img/widget/gallery_1_3.jpg" class="gallery-btn popup-image"><i class="fab fa-instagram"></i></a>
</div>
<div class="gallery-thumb">
<img src="assets/img/widget/gallery_1_4.jpg" alt="Gallery Image"><a href="assets/img/widget/gallery_1_4.jpg" class="gallery-btn popup-image"><i class="fab fa-instagram"></i></a>
</div>
</div>
</div></div>
</div></div></div>
<div class="copyright-wrap"><div class="container"><div class="row gy-2 align-items-center">
<div class="col-md-6"><p class="copyright-text">کپی رایت<i class="fal fa-copyright"></i>2023<a href="home-organic-farm.html">میوه</a>. تمامی حقوق محفوظ است.</p></div>
<div class="col-md-6 text-center text-md-end"><div class="payment-img"><img src="assets/img/normal/payment_methods.png" alt="Image"></div></div>
</div></div></div></footer><div class="scroll-top"><svg class="progress-circle svg-content" width="100%" height="100%" viewbox="-1 -1 102 102"><path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path></svg></div>
<script src="assets/js/vendor/jquery-3.6.0.min.js"></script><script src="assets/js/swiper-bundle.min.js"></script><script src="assets/js/bootstrap.min.js"></script><script src="assets/js/jquery.magnific-popup.min.js"></script><script src="assets/js/jquery.counterup.min.js"></script><script src="assets/js/jquery-ui.min.js"></script><script src="assets/js/imagesloaded.pkgd.min.js"></script><script src="assets/js/isotope.pkgd.min.js"></script><script src="assets/js/main.js"></script>
</body>
</html>
