<div class="th-hero-wrapper hero-1 background-image" id="hero" style="background-image: url(&quot;Content/img/hero/hero_bg_1_2.jpg&quot;);">
    <div class="swiper th-slider swiper-fade swiper-initialized swiper-horizontal swiper-rtl swiper-watch-progress swiper-backface-hidden" id="heroSlide1" data-slider-options="{&quot;effect&quot;:&quot;fade&quot;}">
        <div class="swiper-wrapper" id="swiper-wrapper-10411d56c12f6a7bf" aria-live="off" style="transition-duration: 0ms; transition-delay: 0ms;">
            <div class="swiper-slide swiper-slide-next" role="group" aria-label="1 / 3" data-swiper-slide-index="0" style="width: 1226px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                <div class="hero-inner">
                    <div class="container">
                        <div class="hero-style1">
                            <span class="sub-title slideinup" data-ani="slideinup" data-ani-delay="0.2s" style="animation-delay: 0.2s;"><img src="Content/img/theme-img/title_icon.svg" alt="shape">غذاهای 100% با کیفیت</span><h1 class="hero-title">
                                <span class="title1 slideinup" data-ani="slideinup" data-ani-delay="0.4s" style="animation-delay: 0.4s;"><img class="title-img" src="Content/img/hero/hero_title_shape.svg" alt="icon">طبیعی<span class="text-theme"> میوه ها</span></span><span class="title2 slideinup" data-ani="slideinup" data-ani-delay="0.5s" style="animation-delay: 0.5s;">سبزی</span>
                            </h1>
                            <a href="about.html" class="th-btn slideinup" data-ani="slideinup" data-ani-delay="0.7s" style="animation-delay: 0.7s;">بیشتر پیدا کن<i class="fas fa-chevrons-right ms-2"></i></a>
                        </div>
                    </div>
                    <div class="hero-img slideinright" data-ani="slideinright" data-ani-delay="0.5s" style="animation-delay: 0.5s;"><img src="Content/img/hero/hero_1_1.png" alt="Image"></div>
                    <div class="hero-shape1 slideinup" data-ani="slideinup" data-ani-delay="0.5s" style="animation-delay: 0.5s;"><img src="Content/img/hero/hero_shape_1_1.png" alt="shape"></div>
                    <div class="hero-shape2 slideindown" data-ani="slideindown" data-ani-delay="0.6s" style="animation-delay: 0.6s;"><img src="Content/img/hero/hero_shape_1_2.png" alt="shape"></div>
                    <div class="hero-shape3 slideinleft" data-ani="slideinleft" data-ani-delay="0.7s" style="animation-delay: 0.7s;"><img src="Content/img/hero/hero_shape_1_3.png" alt="shape"></div>
                </div>
            </div>
            <div class="swiper-slide swiper-slide-prev" role="group" aria-label="2 / 3" data-swiper-slide-index="1" style="width: 1226px; opacity: 1; transform: translate3d(1226px, 0px, 0px); transition-duration: 0ms;">
                <div class="hero-inner">
                    <div class="container">
                        <div class="hero-style1">
                            <span class="sub-title slideinup" data-ani="slideinup" data-ani-delay="0.2s" style="animation-delay: 0.2s;"><img src="Content/img/theme-img/title_icon.svg" alt="shape">غذاهای 100% ارگانیک</span><h1 class="hero-title">
                                <span class="title1 slideinup" data-ani="slideinup" data-ani-delay="0.4s" style="animation-delay: 0.4s;"><img class="title-img" src="Content/img/hero/hero_title_shape.svg" alt="icon">ارگانیک. آلی<span class="text-theme"> میوه ها</span></span><span class="title2 slideinup" data-ani="slideinup" data-ani-delay="0.5s" style="animation-delay: 0.5s;">برای سلامتی</span>
                            </h1>
                            <a href="about.html" class="th-btn slideinup" data-ani="slideinup" data-ani-delay="0.7s" style="animation-delay: 0.7s;">بیشتر پیدا کن<i class="fas fa-chevrons-right ms-2"></i></a>
                        </div>
                    </div>
                    <div class="hero-img slideinright" data-ani="slideinright" data-ani-delay="0.5s" style="animation-delay: 0.5s;"><img src="Content/img/hero/hero_1_2.png" alt="Image"></div>
                    <div class="hero-shape1 slideinup" data-ani="slideinup" data-ani-delay="0.5s" style="animation-delay: 0.5s;"><img src="Content/img/hero/hero_shape_1_1.png" alt="shape"></div>
                    <div class="hero-shape2 slideindown" data-ani="slideindown" data-ani-delay="0.6s" style="animation-delay: 0.6s;"><img src="Content/img/hero/hero_shape_1_2.png" alt="shape"></div>
                    <div class="hero-shape3 slideinleft" data-ani="slideinleft" data-ani-delay="0.7s" style="animation-delay: 0.7s;"><img src="Content/img/hero/hero_shape_1_3.png" alt="shape"></div>
                </div>
            </div>
            <div class="swiper-slide swiper-slide-visible swiper-slide-active" role="group" aria-label="3 / 3" data-swiper-slide-index="2" style="width: 1226px; opacity: 1; transform: translate3d(2452px, 0px, 0px); transition-duration: 0ms;">
                <div class="hero-inner">
                    <div class="container">
                        <div class="hero-style1">
                            <span class="sub-title slideinup" data-ani="slideinup" data-ani-delay="0.2s" style="animation-delay: 0.2s;"><img src="Content/img/theme-img/title_icon.svg" alt="shape">100٪ غذاهای تازه</span><h1 class="hero-title">
                                <span class="title1 slideinup" data-ani="slideinup" data-ani-delay="0.4s" style="animation-delay: 0.4s;"><img class="title-img" src="Content/img/hero/hero_title_shape.svg" alt="icon">کیفیت<span class="text-theme"> میوه ها</span></span><span class="title2 slideinup" data-ani="slideinup" data-ani-delay="0.5s" style="animation-delay: 0.5s;">کشاورزی</span>
                            </h1>
                            <a href="about.html" class="th-btn slideinup" data-ani="slideinup" data-ani-delay="0.7s" style="animation-delay: 0.7s;">بیشتر پیدا کن<i class="fas fa-chevrons-right ms-2"></i></a>
                        </div>
                    </div>
                    <div class="hero-img slideinright" data-ani="slideinright" data-ani-delay="0.5s" style="animation-delay: 0.5s;"><img src="Content/img/hero/hero_1_3.png" alt="Image"></div>
                    <div class="hero-shape1 slideinup" data-ani="slideinup" data-ani-delay="0.5s" style="animation-delay: 0.5s;"><img src="Content/img/hero/hero_shape_1_1.png" alt="shape"></div>
                    <div class="hero-shape2 slideindown" data-ani="slideindown" data-ani-delay="0.6s" style="animation-delay: 0.6s;"><img src="Content/img/hero/hero_shape_1_2.png" alt="shape"></div>
                    <div class="hero-shape3 slideinleft" data-ani="slideinleft" data-ani-delay="0.7s" style="animation-delay: 0.7s;"><img src="Content/img/hero/hero_shape_1_3.png" alt="shape"></div>
                </div>
            </div>
        </div><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
    <div class="hero-shape4"><img class="svg-img" src="Content/img/hero/hero_shape_1_4.svg" alt="shape"></div>
</div>