<div class="">
    <div class="container z-index-common">
        <div class="newsletter-wrap">
            <div class="newsletter-content"><h4 class="newsletter-title">برای دریافت به روز رسانی و اخبار درباره ما ثبت نام کنید.</h4></div>
            <form class="newsletter-form">
                <div class="form-group"><input class="form-control" type="email" placeholder="آدرس ایمیل" required=""></div>
                <button type="submit" class="th-btn style6">اشتراک در</button>
            </form>
        </div>
    </div>
</div>